$primary-color:#FEAF52;
$secondary-color:#A876B0;
$flair-color:#514F74;
$footer-color: #746DE7;
$white-text:#FFF8F8;
$black-text:#0a0a0a;
$faqs-grey:  rgba(150, 150, 150, 0.61);
$grey-text: rgb(99, 99, 99);

//               Main Title Font
$title-font: 'Pushster', cursive; // 1 weight (alt main font: Audiowide)
$text-font: 'Open Sans', sans-serif; // (Could change later/font-weights available = 3,4,5,6,7)